# Dependency directories
node_modules/

# Build directories
dist/

# Sass
.sass-cache/
*.sass.map
*.scss.map

# Logs
.DS_*
*.log
logs
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# Optional cache directory
.npm
.cache

# Optional eslint cache
.eslintcache

# Optional editor config
.vscode


# vitepress
cache/
