// Grid CSS
//
// Mixins of Grid Layout

// Grid Template Columns

// make `grid-cols-$i`
@mixin grid-cols ($i) {
  grid-template-columns: repeat($i, minmax(0, 1fr));
}

@mixin grid-cols-none {
  grid-template-columns: none;
}

// Grid Template Rows

// make `grid-rows-$i`
@mixin grid-rows ($i) {
  grid-template-rows: repeat($i, minmax(0, 1fr));
}

@mixin grid-rows-none {
  grid-template-rows: none;
}

// Grid Auto Flow

@mixin grid-flow-row {
  grid-auto-flow: row;
}

@mixin grid-flow-row-dense {
  grid-auto-flow: row dense;
}

@mixin grid-flow-col {
  grid-auto-flow: column;
}

@mixin grid-flow-col-dense {
  grid-auto-flow: column dense;
}

// Grid Column

@mixin col-auto {
  grid-column: auto;
}

@mixin col-span-full {
  grid-column: list.slash(1, -1);
}

// make `col-span-$i`
@mixin col-span ($i) {
  grid-column: list.slash(span $i, span $i);
}

@mixin col-start-auto {
  grid-column-start: auto;
}

// make `col-start-$i`
@mixin col-start ($i) {
  grid-column-start: $i;
}

// make `col-end-$i`
@mixin col-end ($i) {
  grid-column-end: $i;
}

@mixin col-end-auto {
  grid-column-end: auto;
}

// Grid Row

@mixin row-auto {
  grid-row: auto;
}

// make `row-span-$i`
@mixin row-span ($i) {
  grid-row: list.slash(span $i, span $i);
}

@mixin row-span-full {
  grid-row: list.slash(1, -1);
}

// make `row-start-$i`
@mixin row-start ($i) {
  grid-row-start: $i;
}

@mixin row-start-auto {
  grid-row-start: auto;
}

// make `row-end-$i`
@mixin row-end ($i) {
  grid-row-end: $i;
}

@mixin row-end-auto {
  grid-row-end: auto;
}

// Grid Auto Columns

@mixin auto-cols-auto {
  grid-auto-columns: auto;
}

@mixin auto-cols-min {
  grid-auto-columns: min-content;
}

@mixin auto-cols-max {
  grid-auto-columns: max-content;
}

@mixin auto-cols-fr {
  grid-auto-columns: minmax(0, 1fr);
}

// Grid Auto Rows

@mixin auto-rows-auto {
  grid-auto-rows: auto;
}

@mixin auto-rows-min {
  grid-auto-rows: min-content;
}

@mixin auto-rows-max {
  grid-auto-rows: max-content;
}

@mixin auto-rows-fr {
  grid-auto-rows: minmax(0, 1fr);
}

// Place Content

@mixin place-content-center {
  place-content: center;
}

@mixin place-content-start {
  place-content: start;
}

@mixin place-content-end {
  place-content: end;
}

@mixin place-content-between {
  place-content: space-between;
}

@mixin place-content-around {
  place-content: space-around;
}

@mixin place-content-evenly {
  place-content: space-evenly;
}

@mixin place-content-stretch {
  place-content: stretch;
}

// Place Items

@mixin place-items-start {
  place-items: start;
}

@mixin place-items-end {
  place-items: end;
}

@mixin place-items-center {
  place-items: center;
}

@mixin place-items-stretch {
  place-items: stretch;
}

// Place Self

@mixin place-self-auto {
  place-self: auto;
}

@mixin place-self-start {
  place-self: start;
}

@mixin place-self-end {
  place-self: end;
}

@mixin place-self-center {
  place-self: center;
}

@mixin place-self-stretch {
  place-self: stretch;
}
