// Make Gutters

$default-gutter: math.div($gutter, 2);

// Make the gutters in position X

@mixin make-gutter-x($gutter: $default-gutter) {
  padding: {
    left: to-rem($gutter);
    right: to-rem($gutter);
  }
}

// Make the gutters in position Y

@mixin make-gutter-y($gutter: $default-gutter) {
  padding: {
    top: to-rem($gutter);
    bottom: to-rem($gutter);
  }
}
