// Spacing
//
// Mixins for controlling gutters

@use '../utils/functions';

// Gap

// make `gap-$i`
@mixin gap ($spacer) {
  gap: functions.get-spacer($spacer);
};

// make `gap-x-$i`
@mixin gap-x ($spacer) {
  column-gap: functions.get-spacer($spacer);
};

// // make `gap-y-$i`
@mixin gap-y ($spacer) {
  row-gap: functions.get-spacer($spacer);
};

// Padding

// make `p-$i`
@mixin p ($spacer) {
  padding: functions.get-spacer($spacer);
};

// make `px-$i`
@mixin px ($spacer) {
  padding: {
    left: functions.get-spacer($spacer);
    right: functions.get-spacer($spacer);
  }
};

// make `py-$i`
@mixin py ($spacer) {
  padding: {
    top: functions.get-spacer($spacer);
    bottom: functions.get-spacer($spacer);
  }
};

// make `pt-$i`
@mixin pt ($spacer) {
  padding: {
    top: functions.get-spacer($spacer);
  }
};

// make `pb-$i`
@mixin pb ($spacer) {
  padding: {
    bottom: functions.get-spacer($spacer);
  }
};

// make `pl-$i`
@mixin pl ($spacer) {
  padding: {
    left: functions.get-spacer($spacer);
  }
};

// make `pr-$i`
@mixin pr ($spacer) {
  padding: {
    right: functions.get-spacer($spacer);
  }
};

// Margin

// make `m-$i`
@mixin m ($spacer) {
  margin: functions.get-spacer($spacer);
};

// make `mx-$i`
@mixin mx ($spacer) {
  margin: {
    left: functions.get-spacer($spacer);
    right: functions.get-spacer($spacer);
  }
};

// // make `my-$i`
@mixin my ($spacer) {
  margin: {
    top: functions.get-spacer($spacer);
    bottom: functions.get-spacer($spacer);
  }
};

// make `mt-$i`
@mixin mt ($spacer) {
  margin: {
    top: functions.get-spacer($spacer);
  }
};

// make `mb-$i`
@mixin mb ($spacer) {
  margin: {
    bottom: functions.get-spacer($spacer);
  }
};

// make `ml-$i`
@mixin ml ($spacer) {
  margin: {
    left: functions.get-spacer($spacer);
  }
};

// make `mr-$i`
@mixin mr ($spacer) {
  margin: {
    right: functions.get-spacer($spacer);
  }
};

// make `mx-auto`
@mixin mx-auto {
  margin: {
    left: auto;
    right: auto;
  }
};

// make `my-auto`
@mixin my-auto {
  margin: {
    top: auto;
    bottom: auto;
  }
};
