// Breakpoint
//
// Generates breakpoint viewport sizes and media queries.

@mixin make-breakpoint ($name, $breakpoints: $breakpoints) {
  $width: get-breakpoint($name, $breakpoints);

  @if $width {
    @media (min-width: $width) {
      @content;
    }
  }
  @else {
    @content;
  }
}


// Make Spacing
//
// Generates the gutters spacing

@mixin make-spacing ($position: false, $spacers: $spacers) {
  @if $position {
    &#{$position} {
      @include make-sort-component($start: 0, $end: length($spacers)) using ($i) {
        @content(map.get($spacers, $i));
      }
    }
  }
  @else {
    @include make-sort-component($start: 0, $end: length($spacers)) using ($i) {
      @content(map.get($spacers, $i));
    }
  }
}
