// Set variables

// Defaults
//
// Define values defaults

$columns: 12 !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

// Spacing
//
// Define the gutters spacing

$spacer: 1rem !default;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * .75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.5,
  10: $spacer * 3,
  11: $spacer * 3.5,
  12: $spacer * 4,
  13: $spacer * 4.5,
  14: $spacer * 5,
  15: $spacer * 5.5,
  16: $spacer * 6,
) !default;
