.theme,
.nav-bar {
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.container {
  max-width: 100% !important;
}

.home-content{
  padding: 0 1.5rem !important;
  max-width: 100% !important;
}

@media (min-width: 720px) {
  .nav-links {
    padding-top: 0 !important;
  }
}

@media (min-width: 992px) {
  .theme,
  .nav-bar {
    max-width: 960px !important;
  }

  .theme {
    display: flex;
  }

  .page {
    margin-left: 0 !important;
    width: 100%;
  }

  .sidebar {
    border-right-color: transparent !important;
    height: calc(100vh - 4.25rem);
    margin-top: 4.25rem !important;
    position: sticky !important;
    top: 4.25rem !important;
  }

  .sidebar > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-link-item {
    border-left-color: transparent !important;
  }
}

@media (min-width: 1200px) {
  .theme,
  .nav-bar {
    max-width: 1140px !important;
  }

  .home {
    min-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .theme,
  .nav-bar {
    max-width: 1320px !important;
  }

  .home {
    min-width: 1320px;
  }
}
