// Display
//
// Utilities for controlling the display box type of an element.

@include make-component('flex') {
  display: flex;
}

@include make-component('grid') {
  display: grid;
}

@include make-component('block') {
  display: block;
}

@include make-component('hidden') {
  display: none;
}

@include make-component('table') {
  display: table;
}

@include make-component('table-caption') {
  display: table-caption;
}

@include make-component('table-cell') {
  display: table-cell;
}

@include make-component('table-column') {
  display: table-column;
}

@include make-component('table-column-group') {
  display: table-column-group;
}

@include make-component('table-footer-group') {
  display: table-footer-group;
}

@include make-component('table-header-group') {
  display: table-header-group;
}

@include make-component('table-row-group') {
  display: table-row-group;
}

@include make-component('table-row') {
  display: table-row;
}

@include make-component('flow-root') {
  display: flow-root;
}

@include make-component('contents') {
  display: contents;
}

@include make-component('list-item') {
  display: list-item;
}

@include make-component('inline') {
  display: inline;

  &-flex {
    display: inline-flex;
  }

  &-grid {
    display: inline-grid;
  }

  &-block {
    display: inline-block;
  }

  &-table {
    display: inline-table;
  }
}
